{% if site.social %}
<div class="social">
  <ul class="social__list list-reset">
    {% for social in site.social %}
    <li class="social__item">
      <a class="social__link" href="{{social.link}}" aria-label="social icon"><i class="ion {{social.icon}}"></i></a>
    </li>
    {% endfor %}
    <li class="social__item">
      <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fzziruru.me&count_bg=%233D9EC8&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=%F0%9F%A4%AD+HITS%21&edge_flat=false"/></a>
    </li>
  </ul>
  
</div>
{% endif %}